/*----------general----------*/

.custom-text {
    font-family: 'Xanh Mono', monospace;
    color: #e5e5e5;
}

.alert-text {
    font-family: 'Xanh Mono', monospace;
    color: #c71c1c;
}


.section1 {
    background-color: #14213D;
}

.section2 {
    background-color: #000000;
}

.colour-yellow {
    background-color: #fca311;
}

/*--------------nav and title-------------------*/

.custom-nav {
    background-color: #000000;
    font-family: 'Xanh Mono', monospace;
    padding: 0px 10px;
}

.title {
    font-family: 'Xanh Mono', monospace;
    font-size: 60px;
    color: #e5e5e5;
    text-align: center;
    padding-top: 5px;
}


/*-----------------------search--------------------*/

.custom-search {
    display: flex;
    margin: 0 auto;
    background-color: #fca311;
    font-family: Arial;
    color:#e5e5e5;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px!important;
}

.custom-input {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.custom-form {
    width: 100%;
}

.search-margin {
    margin: 20px 0px;
    background-color: rgba(5, 5, 5, 0); 
}

/*-----------card-------------------*/
.card-background {
    background-color: #000000;
}

/*-----------reviews---------------*/
.custom-star {
    color: rgb(161, 161, 4);
}