/*----------general----------*/

.custom-text {
    font-family: 'Xanh Mono', monospace;
    color: #e5e5e5;
    margin-top: 0px;
    margin-bottom: 0px;
}

.alert-text {
    font-family: 'Xanh Mono', monospace;
    color: #c71c1c;
}


.section1 {
    background-color: #14213D;
    height: 100%;
}

.section1b {
    background-color: #14213D;
    height: 100vh;
}

.section2 {
    background-color: #3a3a3a;
}

.colour-yellow {
    background-color: #fca311;
}

.row-custom {
    margin-bottom: 0%;
}

.margin-left {
    margin-left: 10px;
}

.inline {
    display: inline-block;
}

.custom-padding {
    padding-top: 100px;
}

.custom-padding2 {
    padding-top: 40px;
}
/*--------------nav and title-------------------*/

.custom-nav {
    background-color: #000000;
    font-family: 'Xanh Mono', monospace;
    padding: 0px 10px;
}

.title {
    font-family: 'Xanh Mono', monospace;
    font-size: 60px;
    color: #e5e5e5;
    text-align: center;
    padding: 10px 0px;
}


/*-----------------------search--------------------*/

.custom-search {
    display: flex;
    margin: 0 auto;
    background-color: #fca311;
    font-family: Arial;
    color:#e5e5e5;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px!important;
}

.custom-input {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.custom-form {
    width: 100%;
}

.search-margin {
    background-color:#14213D;
    margin-top: 20px; 
}

.custom-search-btn {
    margin-left: 5px;
    background-color: black;
    border-radius: 2px;
    width: 50%;
    height: 30px;
}

.text-border {
    border: 1px solid #e5e5e5;
}
/*-----------cards-------------------*/
.card-background {
    background-color: #000000;
}

.custom-card-image {
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    font-family: 'Xanh Mono', monospace;
}

.custom-card-review {
    background-color: rgba(114, 114, 114, 0.7);
    margin: 10% 0%;
}

.custom-card-plot {
    margin: 10px 0px;
}
/*-----------reviews---------------*/
.custom-star {
    color: rgb(161, 161, 4);
}

.margin-custom-review {
    margin: 100px 0px;
}

/*----------bottom of the page----------*/

.similar-image {
    width: 10%;
}





/*-----------media queries------------------*/
@media screen and (min-width: 768px) {
    .custom-card-image {
    width: 70%;
}
}

@media screen and (min-width: 1080px) {
    .custom-card-image {
    width: 50%;
}
}