{% extends "base.html" %}

{% block content %}
<div class="row container">
    <form action = "{{ url_for('submitShow') }}" method = "POST" class="col s12">
      <div class="row">
        <div class="input-field custom-text col s6">
          <input id="name" type="text" class="validate custom-text" name="name">
          <label for="name">Name of Show</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field custom-text col s6">
          <input id="years" type="text" class="validate custom-text" name="years">
          <label for="years">From(year)-To(year)</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field custom-text col s6">
          <input id="seasons" type="text" class="validate custom-text" name="seasons">
          <label for="seasons">Number of Seasons</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field custom-text col s6">
          <input id="country" type="text" class="validate custom-text" name="country">
          <label for="country">Country</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field custom-text col s6">
          <input id="synopsis" type="text" class="validate custom-text" name="synopsis">
          <label for="synopsis">Synopsis</label>
        </div>
      </div>
      <div>
        <button class="btn waves-effect waves-light colour-yellow" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
    
</div>

{% endblock %}