{% extends "base.html" %}

{% block content %}

<section class="section1b">
	<div class="row">
		<div class="center col s10 offset-s1">
			<div class="card hoverable custom-card-review center custom-padding4">
				<span class="card-title custom-text">
					<h3>Reviews:</h3>
				</span>
          {% for x in reviews %}
          {% if x.review %}
            
				<h5 class="review-text margin-top1">{{ x.review }}</h5>
				<br>
					<h6 class="custom-text">by: {{ x.review_by }}</h6>
					<div class="divider"></div>
            {% else %}
            
					<h5 class="custom-text">There are no reviews yet.</h5>
					<div class="divider"></div>
            {% endif %}
         {% endfor %}
         
				</div>
			</div>
        </div>
        <div class="row">
            <div class="col s12 m3 custom-padding2 center">
                <h5 class="custom-text"><i class="small material-icons custom-padding3">arrow_back</i>Go back to previously viewed tvshow</h5>
            <div class="center">
                <a href="{{ url_for('tvshow', show_id=session['global_show_id']) }}"><button class="my-btns custom-text margin-top1 btn-small">Previous tv show</button></a>
            </div>
        </div>
    </div>
	</section>
{% endblock %}