{% extends "base.html" %}

{% block content %}
<section class="section1b custom-padding">
<div class="row">
    <h5 class="custom-text center col s6">Welcome {{ username }}</h5>
</div>
<div class="row">
    <div class="col-s6">
        {% if session['global_show_id'] %}
        <p class="custom-text">Go back to previously viewed tvshow</p>
        <a href="{{ url_for('tvshow', show_id=session['global_show_id']) }}"><button>Previous tv show</button></a>
        {% endif %}
    </div>
</div>
</section>
{% endblock %}