{% extends "base.html" %}

{% block content %}
<section class="section1b custom-padding">
<div class="row">
    <h2 class="custom-text center col s12">{{ username }}'s Profile</h2>
</div>
<div class="row">
    <div class="col s12"><h3 class="custom-text">Your Favourite TV Shows</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
    <h5 class="custom-text capital-letter">
        {% for favourite in favourites %}
             <a href="{{ url_for('tvshow', show_id=favourite.favourite) }}">{{ favourite.title }}</a><!--<i class="small material-icons">clear</i>--><br>
        {% endfor %}
    </h5>
    </div>
</div>
<div class="row">
    <div class="col s12"><h3 class="custom-text">Your Reviews</h3>
    </div>
</div>
<div class="row">
    <div class="col s6">
        
        {% for review in reviews %}
        <div class="text-border">
            <h5 class="custom-text capital-letter">{{ review.title }}:</h5><br>
            <p class="custom-text">{{ review.review }}</p>
        </div>
        {% endfor %}
    
    </div>
</div>
<div class="row">
    <div class="col s6">
        {% if session['global_show_id'] %}
        <p class="custom-text">Go back to previously viewed tvshow</p>
        <a href="{{ url_for('tvshow', show_id=session['global_show_id']) }}"><button class="my-btns custom-text">Previous tv show</button></a>
        {% endif %}
    </div>
    <div class="col s6 center">
    <a href="{{ url_for('edit_user', username=session['user']) }}"><button type="button" class="my-btns custom-text">Edit My Details</button></a>
    </div>
    
</div>
</section>
{% endblock %}