{% extends "base.html" %}

{% block content %}
<section class="section1b">
	<div class="row custom-padding2">
		<div class="col s12 center ">
			<h3 class="custom-text">Results:</h3>
		</div>
	</div>
	<div class="row custom-padding2">
		<div class="col s12 m6 custom-padding offset-m3 center">
{% if searchresults.results|length %}            
    {% for searchresult in searchresults.results %}
                <h5>
                    <a href="{{ url_for('tvshow', show_id=searchresult['id']) }}" class="custom-text">{{ searchresult['title'] }}</a>
                        <br>
                        <hr>	
                </h5>
    {% endfor %}
{% else %}
                <h5 class="custom-text">
                   Sorry, there are no results	
                </h5>
{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col s10 offset-s1 center">
					<a href="{{ url_for('index') }}">
						<button class="custom-search-btn custom-text">Search again</button>
					</a>
				</div>
			</div>
		</section>
{% endblock %}
