{% extends "base.html" %}

{% block content %}
<section class="section1b">
    <div class="row custom-padding2">
        <div class="col s12 center ">
            <h3 class="custom-text">Results:</h3>
        </div>
    </div>
    <div class="row custom-padding2">
<div class="col s12 m6 custom-padding offset-m3 center">
{% for searchresult in searchresults.results %}
        <h5><a href="{{ url_for('tvshow', show_id=searchresult['id']) }}" class="custom-text">{{ searchresult['title'] }}<br><hr></a></h5>
{% endfor %}
</div>
</div>
</section>
{% endblock %}
